body.ng-scope {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.jumbotron.ng-scope {
  #background-image:url('http://goo.gl/ZKM4RF');
  background-image:url('http://goo.gl/vUZEaW');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron.ng-scope .container {
  position: relative;
  top:10px;
}

.jumbotron.ng-scope h1 {
  color: #fff;
  font-size: 58px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron.ng-scope p {
  font-size: 30px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    margin-bottom: 13px;
    font-size: 15px;
}